.DomImageViewer {
	align-items: center;
	display: grid;
	grid-template-rows: min-content auto;
	min-width: min-content;
	min-height: 10em;
	overflow: hidden;
}

.DomImageViewerCanvas {
	align-self: stretch;
	max-height: 100%;
	min-height: 50px;
	overflow: hidden auto;
	position: relative;
	width: 100%;
	scrollbar-color: var(--PRIMARY_COLOR) var(--GRAY_BACKGROUND_COLOR);
}

.DomImageViewerCanvas::-webkit-scrollbar {
	width: 0px;
}

.DomImageViewerImage {
	box-shadow: 0px 0px 3px 3px #ccc;
}

.DomImageViewerImageHolder {
	box-sizing: border-box;
	position: relative;
	padding: 10px;
}

.DomImageViewerPageIndicator {
	white-space: nowrap;
}

.DomImageViewerToolBar {
	display: flex;
	flex-direction: row;
	justify-content: center;
 	gap: 4em;
	padding: 5px 10px 0 10px;
}
