.DomUploadForm > div {
	position: relative;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	justify-self: start;
	height: calc(var(--DOM_BUTTON_DECORATION_HEIGHT));
	padding: var(--DOM_BUTTON_DECORATION_PADDING);
	max-width: 300px;
	border: 2px dashed var(--INFO_BORDER_COLOR);
	border-radius: var(--BORDER_RADIUS);
	color: var(--PRIMARY_COLOR);
	background-color: var(--INFO_BACKGROUND_COLOR);
	opacity: 0.95;
	box-sizing: border-box;
}

.DomUploadForm > div > img {
	width: var(--DOM_BUTTON_DECORATED_ICON_SIZE);
	height: var(--DOM_BUTTON_DECORATED_ICON_SIZE);
}

.DomUploadForm > div > input {
	position: absolute;
	opacity: 0;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: 1;
	left: -2px;
	top: -2px;
}
