
:root {
	--DOM_POPUP_FRAME_HIGHLIGHTED_COLOR: #f00;
}

.DomPopup {
	border-radius: 0 0 var(--BORDER_RADIUS) var(--BORDER_RADIUS);
	display: flex;
	padding: 16px;
}

.DomPopup.compact {
	padding: 5px;
}

.DomPopupCaption {
	color: var(--PRIMARY_COLOR);
	font-size: var(--FONT_SIZE_CAPTION);
}

.DomPopupSubCaption {
	color: var(--PRIMARY_COLOR);
	font-size: var(--FONT_SIZE);
}

.DomPopupFrame {
	display: block;
	position: absolute;
	background-color: #fff;
	border: 1px solid var(--LABEL_BORDER_COLOR);
	border-radius: var(--BORDER_RADIUS);
	box-shadow: var(--BOX_SHADOW_OVERLAY);
	outline-style: none;
	width: max-content;
}

.DomPopupFrame.highlighted {
	border: 1px solid var(--DOM_POPUP_FRAME_HIGHLIGHTED_COLOR);
}

.DomPopupFrame.maximized {
	border-radius: 0;
	border-right: 0;
	border-bottom: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: initial;
	overflow: auto;
}

.DomPopupFrameHeader {
	cursor: move;
	
	display: grid;
	grid-template-columns: auto 32px;
	padding: 8px 16px;
	align-items: center;
	
	border-radius: var(--BORDER_RADIUS) var(--BORDER_RADIUS) 0 0;
	background-color: var(--LABEL_BACKGROUND_COLOR);
	box-shadow: var(--BOX_SHADOW_TABLE_HEADER);
}

.DomPopupFrame.maximized > .DomPopupFrameHeader {
	position: sticky;
	z-index: 1;
	top: 0;
	left: 0;
	cursor: default;
	border-radius: 0;
}

.DomPopupFrameHeader .DomButton img {
	width: 32px;
	height: 32px;
	max-width: 32px;
	max-height: 32px;
}

/* -------------------- menu popover -------------------- */

.DomMenuPopover {
	min-width: 100px;
	gap: 0;
}

.DomMenuPopover > .DomButton {
	justify-content: start;
	padding-bottom: 2px;
	padding-top: 2px;
	width: 100%;
}

.DomMenuPopover > .DomButton:focus,
.DomMenuPopover > .DomButton:hover {
	background-color: var(--SELECTION_BACKGROUND_COLOR);
	filter: none;
}

.DomMenuPopover > .DomButton:focus > .DomButtonIcon,
.DomMenuPopover > .DomButton:hover > .DomButtonLabel {
	filter: drop-shadow(var(--TEXT_SHADOW_FOCUS));
}

.DomMenuPopover > .DomButton > .DomButtonLabel {
	text-align: left;
}
