.DomImageViewer {
	align-items: center;
	display: grid;
	grid-template-rows: min-content auto;
	min-width: min-content;
	min-height: 10em;
	overflow: hidden;
}

.DomImageViewerCanvas {
	align-self: stretch;
	max-height: 100%;
	min-height: 50px;
	overflow: auto;
	width: 100%;
	scrollbar-color: var(--PRIMARY_COLOR) var(--GRAY_BACKGROUND_COLOR);
}

.DomImageViewerCanvas::-webkit-scrollbar {
	height: 3px;
	width: 3px;
	background: var(--GRAY_BACKGROUND_COLOR);
}

.DomImageViewerCanvas::-webkit-scrollbar-thumb {
	background: var(--PRIMARY_COLOR);
}

.DomImageViewerImageFrame {
	position: relative;
	box-shadow: 0px 0px 3px 3px #ccc;
	overflow: hidden;
	
	/* the following is important for Safari to not stretch the image vertically */
	width: 100%;
}

.DomImageViewerTag {
	position: absolute;
	border: 1px solid var(--PRIMARY_COLOR);
	box-shadow: 0 0 2px 0px var(--SECONDARY_COLOR), inset 0 0 2px 0px var(--SECONDARY_COLOR);
	box-sizing: border-box;
}

.DomImageViewerTagCaption {
	position: absolute;
	padding: 1px 5px;
	color: white;
	font-size: var(--FONT_SIZE_SMALLISH);
	font-weight: var(--LABEL_FONT_WEIGHT);
	background: var(--PRIMARY_COLOR);
	border-radius: 2px 2px 0 0;
	white-space: nowrap;
}

.DomImageViewerImageHolder {
	box-sizing: border-box;
	padding: 10px;
	position: relative;
	transform-origin: left top;
}

.DomImageViewerPageIndicator {
	white-space: nowrap;
}

.DomImageViewerToolBar {
	display: flex;
	flex-direction: row;
	justify-content: center;
 	gap: 1em;
	padding: 5px 10px 0 10px;
}

.DomImageViewerToolBarSpacer {
	flex-grow: 1;
}
