.DomAutoCompleteBackdrop {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.DomAutoCompleteIndicatorParent {
	position: absolute;
	cursor: default;
	filter: drop-shadow(0px 0px 1px #000);
	width: 10px;
	height: 10px;
	left: -4px;
	top: -4px;
}

.DomAutoCompleteInput {
	display: grid;
	position: relative;
	gap: 5px;
}

.DomAutoCompleteInputField {
	flex-grow: 1;	
}

.DomAutoCompleteInputFilterDisplay {
	opacity: 0.33;
}

.DomAutoCompleteInputFilterDisplay:empty {
	display: none;
}

.DomAutoCompleteInputFilterDisplay img {
	width: 16px;
	height: 16px;
}

.DomAutoCompleteInputFilterDisplay .DomBar {
	gap: 0;
}

.DomAutoCompleteMatch {
	font-weight: bold;
}

.DomAutoCompleteMoreValues,
.DomAutoCompleteNoValues {
	font-style: italic;
	color: var(--GRAY_FONT_COLOR);
	padding: 3px 4px;
}

.DomAutoCompletePopup {
	position: absolute;

	border: 1px solid var(--INPUT_BORDER_COLOR);
	border-radius: var(--BORDER_RADIUS);
	box-shadow: var(--BOX_SHADOW_OVERLAY);

	color: var(--FONT_COLOR);
	background-color: var(--INPUT_BACKGROUND_COLOR); 
	overflow:hidden;
	gap: 0;
}

.DomAutoCompleteSelectedValue {
	background-color: var(--SELECTION_BACKGROUND_COLOR);
}

.DomAutoCompleteValue {
	
	cursor: pointer;
	padding: 3px 4px;
}

.DomAutoCompleteValue:hover {
	
	background-color: var(--SELECTION_BACKGROUND_COLOR);
}
