
.DomPopup.DomPopover.EmfEntityInputBrowsePopover {
	padding: 0px;
}

.EmfEntityInputBrowsePopover > .EmfDataTableDiv {
	box-shadow: none;
}

.EmfEntityInputBrowsePopover > .EmfDataTableDiv .DomDataTable tr > td {
	padding: 0;
}

.EmfEntityInputBrowsePopover > .EmfDataTableDiv .DomDataTable tr > td > .EmfDataTableEmptyTablePlaceholderDiv {
	padding: 0.5em 1em;
}

.EmfEntityInputBrowsePopoverCellContent {
	cursor: pointer;
	padding: 0.5em 1em;
}

.EmfWikiTextInput {
	display: grid;
}

.EmfWikiTextInputPreview {
	border-radius: var(--BORDER_RADIUS);
	border: 1px solid var(--LABEL_BORDER_COLOR);
	padding: 5px;
}

.EmfPasswordInput {
	flex-grow: 1;
}

.EmfPasswordVisibilityButton {
	opacity: 0.25;
}

.EmfPasswordVisibilityButton:hover {
	opacity: 1;
	transition: opacity 0.3s;
}

.EmfPasswordVisibilityButton.active {
	opacity: 1;
	transition: opacity 0.3s;
}

.EmfPasswordVisibilityButton img {
	width: 24px;
	height: auto;
}

.EmfInputLabel {
	align-self:start;
	max-height: 14px;
	color: var(--LABEL_FONT_COLOR);
	position: absolute;
	padding: 6px;
	pointer-events: none;
	transition: 0.2s;
	opacity: 0.4;
}

.EmfLabeledInput input:focus ~ .EmfInputLabel,
.EmfLabeledInput input:disabled ~ .EmfInputLabel,
.EmfLabeledInput input:valid ~ .EmfInputLabel,
.EmfLabeledInput textarea:focus ~ .EmfInputLabel,
.EmfLabeledInput textarea:disabled ~ .EmfInputLabel,
.EmfLabeledInput textarea:valid ~ .EmfInputLabel {
	transform: translateY(-4px);
   	background-color: var(--INPUT_BACKGROUND_COLOR);
   	font-size: 7pt;
   	padding: 0px 1px;
   	margin-left: 10px;
	opacity: 1;
}

.EmfLabeledInput input:focus ~ .EmfInputLabel,
.EmfLabeledInput textarea:focus ~ .EmfInputLabel {
	z-index: 10000;
}

.EmfLabeledInput input:disabled ~ .EmfInputLabel,
.EmfLabeledInput textarea:disabled ~ .EmfInputLabel {
	opacity: unset;
}
