
.EmfManagementDiv {
	display: inline-grid;
}

.EmfManagementActionsButton {
	opacity: 25%;
}

.EmfManagementActionsButton:focus {
	opacity: 100%;
	transition: opacity 0.2s;
}

tr:hover .EmfManagementActionsButton,
tr.selected .EmfManagementActionsButton{
	opacity: 100%;
	transition: opacity 0.2s;
}
