.EmfForm {
	display: grid;
	min-width: 320px;
}

.EmfFormAttributesDiv {
	display: block;
}

.EmfFormBodyLowerPart {
	display: block;
}

.EmfFormBodyUpperPart {
	align-items: start;
	display: grid;
	grid-template-columns: auto min-content;
	gap: 0.5em;
}

.EmfFormBodyUpperPart > *:only-child {
	grid-column: 1/3;
}

.EmfFormFrame {
	background-color: #fff;
	border-radius: var(--BORDER_RADIUS);
	box-shadow: var(--BOX_SHADOW_OVERLAY);
	display: inline-grid;
	outline-style: none;
}

.EmfFormFrameHeader {
	border-radius: var(--BORDER_RADIUS) var(--BORDER_RADIUS) 0 0;
	background-color: var(--LABEL_BACKGROUND_COLOR);
	display: grid;
	font-weight: bold;
	justify-items: center;
	padding: 8px 16px;
}

.EmfFormIndicatorRow {
	display: grid;
	grid-template-columns: 33% 34% 33%;
	padding-bottom: 5px;
}

.EmfFormIndicatorContainer {
	display: grid;
	justify-content: center;
}

.EmfFormIndicatorRow > .EmfFormIndicatorContainer:first-child {
	justify-content: left;
}

.EmfFormIndicatorRow > .EmfFormIndicatorContainer:last-child {
	justify-content: right;
}

.EmfFormIndicator {
	display: grid;
	grid-auto-flow: column;
	gap: 6px;
	align-items: center;
	font-style: italic;
}

.EmfFormIndicator.clickable {
	cursor: pointer;
}

.EmfFormIndicator.clickable:hover {
	text-shadow: var(--TEXT_SHADOW_FOCUS);
}

.EmfFormIndicatorImage {
	display: flex;
	width: 24px;
	height: 24px;
}

.EmfFormCommonActionsDiv {
	gap: 4px;
	grid-auto-flow: row;
}

.EmfFormPopupContainer {
	align-items: start;
	display: flex;
}

/* ------------------------------ DomButton decoration ------------------------------ */

.EmfFormPrimaryActionSectionDiv .EmfFormSectionContentDiv {
	grid-auto-flow: column;
	grid-auto-columns: max-content;
}

.EmfFormPrimaryActionSectionDiv .EmfFormSectionContentDiv:not(.invisible) .DomButton {
	padding: var(--DOM_BUTTON_DECORATION_PADDING);
	background-color: var(--DOM_BUTTON_DECORATION_BACKGROUND_COLOR);
	color: var(--DOM_BUTTON_DECORATION_COLOR);
}

.EmfFormPrimaryActionSectionDiv .EmfFormSectionContentDiv:not(.invisible) .DomButton:hover:not(.disabled),
.EmfFormPrimaryActionSectionDiv .EmfFormSectionContentDiv:not(.invisible) .DomButton:focus:not(.disabled) {
	box-shadow: var(--DOM_BUTTON_DECORATION_INTERACTION_BOX_SHADOW);
}

.EmfFormPrimaryActionSectionDiv .EmfFormSectionContentDiv:not(.invisible) .DomButton > .DomButtonIcon {
	width: var(--DOM_BUTTON_DECORATED_ICON_SIZE);
	height: var(--DOM_BUTTON_DECORATED_ICON_SIZE);
}

.EmfFormPrimaryActionSectionDiv .EmfFormSectionContentDiv:not(.invisible) .DomButton > .DomButtonIcon:not(.precolored) {
	filter: var(--DOM_BUTTON_ICON_DECORATION_FILTER);
}

.EmfFormPrimaryActionSectionDiv .EmfFormSectionContentDiv:not(.invisible) .DomButton > .DomButtonLabel {
	min-height: var(--DOM_BUTTON_DECORATED_ICON_SIZE);
	text-transform: var(--DOM_BUTTON_LABEL_DECORATION_TEXT_TRANSFORM);
}

.EmfFormSaveOrCancelActionsInput {
	display: block;
}

/* ------------------------------ Form Actions ------------------------------ */

.EmfFormWizardActionTitleModifier {
	grid-auto-flow: column;
	align-items: center;
	align-content: center;
}

.EmfFormWizardActionHeaderDisabled {
	opacity: 0.5;
}
