
.DomPopup.DomPopover.EmfEntityInputBrowsePopover {
	padding: 0px;
}

.EmfEntityInputBrowsePopover > .EmfDataTableDiv {
	box-shadow: none;
}

.EmfEntityInputBrowsePopover > .EmfDataTableDiv .DomDataTable tr > td {
	padding: 0;
}

.EmfEntityInputBrowsePopoverCellContent {
	cursor: pointer;
	padding: 0.5em 1em;
}

.EmfWikiTextInput {
	display: grid;
}

.EmfWikiTextInputPreview {
	border-radius: var(--BORDER_RADIUS);
	border: 1px solid var(--LABEL_BORDER_COLOR);
	padding: 5px;
}

.EmfPasswordInput {
	flex-grow: 1;
}

.EmfPasswordVisibilityButton {
	opacity: 0.25;
}

.EmfPasswordVisibilityButton:hover {
	opacity: 1;
	transition: opacity 0.3s;
}

.EmfPasswordVisibilityButton.active {
	opacity: 1;
	transition: opacity 0.3s;
}

.EmfPasswordVisibilityButton.active:hover {
	filter: drop-shadow(var(--TEXT_SHADOW_FOCUS));
}
