
.EmfPrefilterElement {
	padding-top: 5px;
	text-align: center;
}

.EmfPrefilterRowContent {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.EmfPrefilterRowContent > :last-child {
	justify-self: end;
}

.EmfPrefilterAddFilterBar {
	justify-self: center;
}

.EmfPrefilterFilterTypeButton {
	justify-self: center;
}
