
/* -------------------- session timeout dialog -------------------- */

.AjaxSessionTimeoutDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;

	background-color: #0006;
	opacity: 1;
	transition: opacity 0.3s;
}

.AjaxSessionTimeoutDialog.hidden {
	opacity: 0;
	visibility: hidden;
}

.AjaxSessionTimeoutDialogMessage {
	display: grid;
	align-content: center;
	justify-items: center;
	position: fixed;
	top: 30%;
	left: 44%;
	padding: 10px 15px;
	background-color: var(--ERROR_BACKGROUND_COLOR);
	border: 1px solid var(--ERROR_BORDER_COLOR);
	border-radius: var(--BORDER_RADIUS);
	box-shadow: var(--BOX_SHADOW_OVERLAY);
	cursor: pointer;
	user-select: none;
}

.AjaxSessionTimeoutDialogMessage > hr{
	background-color: var(--FONT_COLOR);
}

/* -------------------- working indicator -------------------- */

.AjaxWorkingIndicator {
	position: fixed;
	top: 0;
	right: 0;

	color: transparent;
	opacity: 1;
	transition: opacity 0.2s ease-in-out;

	pointer-events: none;
}

.AjaxWorkingIndicator.hidden {
	opacity: 0;
}

.AjaxWorkingIndicator::before {
	content: "";
	
	position: fixed;
	right: 4px;
	top: 4px;
	box-sizing: border-box;
	height: 16px;
	width: 16px;
	
	border-radius: 50%;
	border: 3px solid var(--PRIMARY_COLOR);
	border-color: var(--PRIMARY_COLOR) transparent var(--PRIMARY_COLOR) transparent;
	animation: AjaxSpinAnimation 1s linear infinite;
}

/* -------------------- spin animation for auto-complete etc. -------------------- */

@keyframes AjaxSpinAnimation {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
