
/* ---------------- DomButton: basic decoration ---------------- */

.DomActionBar > .DomButton {
	padding: var(--DOM_BUTTON_DECORATION_PADDING);
	background-color: var(--DOM_BUTTON_DECORATION_BACKGROUND_COLOR);
	color: var(--DOM_BUTTON_DECORATION_COLOR);
	height: var(--DOM_BUTTON_DECORATION_HEIGHT);
}

td .DomActionBar > .DomButton {
	padding: unset;
	background-color: unset;
	color: unset;
	height: unset;
}

/* ---------------- DomButton: hover and focus ---------------- */

.DomActionBar > .DomButton:hover:not(.disabled),
.DomActionBar > .DomButton:focus:not(.disabled) {
	box-shadow: var(--DOM_BUTTON_DECORATION_INTERACTION_BOX_SHADOW);
}

td .DomActionBar > .DomButton:hover:not(.disabled),
td .DomActionBar > .DomButton:focus:not(.disabled) {
	box-shadow: unset;
}

/* ---------------- DomButton: selected ---------------- */

.DomActionBar > .DomButton.selected {
	background-color: var(--SECONDARY_COLOR);
}

td .DomActionBar > .DomButton.selected {
	background-color: unset;
}

/* ---------------- DomButton: icon geometry ---------------- */

.DomActionBar > .DomButton > .DomButtonIcon {
	width: var(--DOM_BUTTON_DECORATED_ICON_SIZE);
	height: var(--DOM_BUTTON_DECORATED_ICON_SIZE);
}

td .DomActionBar > .DomButton > .DomButtonIcon {
	width: var(--DOM_BUTTON_ICON_SIZE);
	height: var(--DOM_BUTTON_ICON_SIZE);
}

/* ---------------- DomButton: icon color ---------------- */

.DomActionBar > .DomButton > .DomButtonIcon:not(.precolored) {
	filter: var(--DOM_BUTTON_ICON_DECORATION_FILTER);
}

td .DomActionBar > .DomButton > .DomButtonIcon:not(.precolored) {
	filter: unset;
}

/* ---------------- DomButton: label ---------------- */

.DomActionBar > .DomButton > .DomButtonLabel {
	text-transform: var(--DOM_BUTTON_LABEL_DECORATION_TEXT_TRANSFORM);
}

td .DomActionBar > .DomButton > .DomButtonLabel {
	min-height: unset;
	text-transform: unset;
}
