
.UserPasswordQualityCriterionRow {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: auto min-content;
	align-items: center;
}

.UserPasswordQualityCriterionValue {
	font-weight: bold;
}

.UserPasswordQualityCriterionFulfilled {
	color: var(--SUCCESS_FONT_COLOR);
}

.UserPasswordQualityCriterionPolicyFulfilled {
	color: var(--WARNING_FONT_COLOR);
}

.UserPasswordQualityCriterionNotFulfilled {
	color: var(--ERROR_FONT_COLOR);
}
