name: Continuous Integration
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: self-hosted
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Execute Build
        run: |
          ./gradlew clean build \
          -PpluginProxy=http://nexus:8081/repository/gradle-plugins-proxy/ \
          -PdependencyProxy=http://nexus:8081/repository/maven-central/
