name: Continuous Integration
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: self-hosted
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Execute Build
        run: |
          ./gradlew clean build \
          -PdependencyProxy=https://repo1.maven.org/maven2/ \
          -PpluginProxy=https://plugins.gradle.org/m2/
